extends layout

p hello

//- block content
//-   h1= title
//-   p Welcome to #{name}
  
  
//-   - qbs = ['palmer', 'brees', 'river', 'brad']
//-   ul
//-     - for(i = 0; i < qbs.length; i ++ ){
//-         li = qbs[i]
//-     - }

//-   ul 
//-     each qb in qbs
//-       li = qb
      
